{% extends 'layout.html' %} 
{% block title %}TripUpp{% endblock %}
{% block content %}

{% for solution in data %}
    
<div class="jumbotron">
  <div class="container">
    <video width="100%" controls>
        <source src="/{{solution.video}}" type="video/mp4">
        <source src="/{{solution.video}}" type="video/ogg">
        Your browser does not support HTML video.
      </video>
    <h3 class="mt-2"> 
         {{solution.title}}
    </h3>
    <p>

      
      {{solution.context}}
    </p>
    <p>
      <a class="btn btn-outline-primary rounded-0 btn-lg" href="#" role="button">Like <i class="fa fa-thumbs-up"></i></a>
      <a class="btn btn-outline-info rounded-0 btn-lg" href="#" role="button">Share <i class="fa fa-share"></i></a>
    </p>
  </div>
</div>
{% endfor %}



{% load static %}
<script src="{% static "script.js" %}"></script>
{% endblock %}